
.deck-show {
  display: block;
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;
}

.deck-show .title{
  float: left;
}

.deck-show h1 {
  font-family: seravek;
  color: #212121;
  font-size: 40px;
  margin-bottom: 30px;
  float: left;
}

.deck-show h2 {
  display: block;
  float: left;
  font-family: seravek;
  font-size: 17px;
  color: #757575;
  float: left;
  padding-top: 18px;
  padding-left: 10px;
}

.deck-show h3 {
  display: block;
  float: left;
  font-family: seravek;
  font-weight: bold;
  font-size: 17px;
  color: #231f20;
  padding-bottom: 5px;
  padding-left: 10px;
}

.deck-show h4{
  font-size: 15px;
  padding-top: 3px;
  margin-left: 10px;
  font-family: seravek;
  color: #757575;
  font-weight: normal;
}

.deck-show p {
  font-family: seravek;
  font-size: 16px;
  float: left;
  border: 1px solid #bdbcbc;
  border-radius: 5px;
  padding: 10px 10px;
  width: 675px;
  margin-bottom: 15px;
}

.deck-show .titles {
  display: block;
}

.deck-show .term-title{
  display: block;
  float: left;
  margin-left: -12px;
}

.term-title h3{
  display: inline-block;
  float: left;
}
.term-title h4{
  display: inline-block;
  float: right;
  position: relative;
  top: -1.5px;
}

.deck-show .cards {
  margin-top: 0px;
}

.definition-title h3{
  display: inline-block;
  float: left;

}
.definition-title h4{
  display: inline-block;
  float: right;
  position: relative;
  top: -1.5px;
}

.deck-show .definition-title{
  display: block;
  float: right;
  margin-right: 250px;
}

.deck-show .buttons {
  float: right;
  width: 250px;
}

.deck-show .button-container0 {
  width: 80px;
  height: 40px;
  float: left;
}
.deck-show .button-container1 {
  width: 80px;
  height: 40px;
  float: right;
}

.deck-show .button-container2 {
  width: 80px;
  height: 40px;
  float: left;
}


.deck-show .buttons .button {
  border: 0;
  outline: 0;
  color: white;
  font-family: Montserrat;
  width: 100%;
  height: 100%;
  font-size: 15px;
  float: right;
}

.deck-show .delete {
  display: block;
  background: #ef4437;
}

.deck-show .delete:hover {
  background: #FFCDD2;
}

.deck-show .edit {
  display: block;
  background: #fdc010;
}
.deck-show .edit:hover {
  background: #FFECB3;
}

.deck-show .study {
  display: block;
  background: #38a3dc;
  margin-right: 10px;
}
.deck-show .study:hover {
  background: #BBDEFB;
}

.deck-show .back {
  display: block;
  background: #38a3dc;
  margin-right: 10px;
}

.deck-show .back:hover {
  background: #BBDEFB;
}

h2:hover, h4:hover {
  color: #212121;
}


.delete-card {
  background: #ef4437;
  height: 100%;
  float: right;
  width: 50%;
  position: relative;
}

.delete-card img {
  width: 30px;
  height: auto;
  position: absolute;
  bottom: 10px;
  left: 6px;

}
.card .right-buttons {
  height: 100%;
  float: right;
}

.audio{
  background: #2196F3;
  height: 100%;
  width: 50%;
  float: right;
  position: relative;

}

.audio img {
  width: 30px;
  height: auto;
  padding-left: 5px;
  position: absolute;
  bottom: 10px;
  left: 2px;

}

.present {
  cursor: pointer;
}

.absent {
  background: #9E9E9E;
  cursor: not-allowed;
}
