.content {
  display: block;
  width: 80%;
  height: auto;
  float: right;
}


.deck-index {
  display: block;
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;
}

.deck-index h1 {
  font-size: 40px;
  margin-bottom: 30px;
  font-family: seravek;
  color: #212121;
}

.deck-index h2 {
  font-size: 30px;

  font-family: seravek;
  color: #212121;
}



.deck-index h3 {
  display: inline-block;
  font-size: 15px;
  font-family: seravek;
  color: #757575;
  padding-left: 10px;
}



.deck-index h5 {
  font-family: seravek;
  display: inline-block;
  float: left;
  color: #757575;
  margin-top: 10px;
}

.deck-index .enter {
  display: block;
  width: 40px;
  height: auto;
  float: right;
}


.deck-index ul {
  border: 1px solid #bdbcbc;
  border-bottom: 0;

}

.deck-index li {
  display: block;
  height: 75px;
  border-bottom: 1px solid #bdbcbc;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.deck-index li:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.deck-index li .top-line {
  display: inline-block;
  flex: 0 1 200px;
  margin: 0;
}
.deck-index li .top-line h2 {
  display: inline-block;
  float: left;
  padding-left: 10px;
  padding-top: 15px;
}
.deck-index li .top-line h4 {
  display: inline-block;
  float: left;
  font-family: seravek;
  font-size: 15px;
  color: #757575;
  padding-left: 20px;
  padding-top: 27px;
}

.deck-index .right-side{
  float: right;
  width: 100px;
  height: 100%;
  text-align: center;
  margin-top: -30px;
}

.deck-index .list-container {
  height: 100%;
  width: 100%;
  display: block;
}

.deck-index .search-field {
  margin-bottom: 25px;
  height: 50px;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
}

.deck-index .search-field input {
  display: inline-block;
  height: 40px;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  border: 0;
  font-family: seravek;
  font-size: 20px;
  vertical-align: middle;
  padding-top: 5px;
  padding-left: 5px;
}

.deck-index .search {
  margin-top: 12px;
  margin-left: 10px;
  width: 30px;
  height: auto;
}
