.content {
  display: block;
  width: 80%;
  height: auto;
  float: right;
}


.deck-index {
  display: block;
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;


}

.deck-index h1 {
  font-size: 40px;
  margin-bottom: 30px;
  font-family: seravek;
  color: #212121;
}

.deck-index h2 {
  font-size: 30px;
  padding-top: 15px;
  margin-left: 10px;
  font-family: seravek;
  color: #212121;
}

.deck-index h3 {
  font-size: 15px;
  padding-top: 3px;
  margin-left: 10px;
  font-family: seravek;
  color: #757575;
}



.deck-index ul {
  border: 1px solid #bdbcbc;
  border-bottom: 0;

}

.deck-index li {
  display: block;
  height: 75px;
  border-bottom: 1px solid #bdbcbc;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.deck-index li:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.deck-index li .top-line {
  display: block;
  width: 200px;
  height: 50px;;
}
.deck-index li .top-line h2 {
  display: inline-block;
  float: left;
}
.deck-index li .top-line h4 {
  display: inline-block;
  float: left;
  padding-top: 27px;
  padding-left: 15px;
  font-family: seravek;
  font-size: 15px;
  color: #757575;
}
