.new-card{
  width: 92.5%;
}
.card-form {
  height: 50px;

  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.card-form .text-entries {
  width: 93%;
}


.card-form .term-box{
  width: 50%;
  float: left;
  height: 100%;

}
.card-form .definition-box{
  width: 49%;
  float: left;
  height: 100%;
  border-left: 1px solid #E6DEDC;
}


.new-card .term{
  background: transparent;
  color: #231f20;
  font-size: 17px;
  display: block;
  float:left;
  width: 90%;
  height: 48px;
  border: 0;


}

.new-card .definition{
  color: #231f20;
  background: transparent;
  font-size: 17px;
  display: block;
  float:left;
  width: 90%;
  height: 48px;
  border: 0;

}

.hidden {
  display: none;
}




.audio-upload  {
  display: block;
  float: right;
  background: none;
  color: #231f20;
  font-family: seravek;
  font-size: 12px;
  width: 7%;
  height: 48px;
  background: #2196F3;
  cursor: pointer;
  position: relative;
  top: 2px;

}

.new-card:first-child .audio-upload {
  top: 0px;
  background: red;
}



.audio-upload .upload-button {
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.audio-upload img {
  position: absolute;
  width: 30px;
  height: auto;
  bottom: 7px;
  left: 7px;
  cursor: pointer;
  /*margin-bottom: 10px;*/
  /*display: none;*/
}
